@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800;900&family=Charter:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Plus Jakarta Sans", sans-serif;
  --font-serif: "PT Serif", serif;
  --color-brand: #00D5BE;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-gray-900 antialiased;
}
